/c/lib/child.os
/c/tests/test_child
.sconsign
.sconsign.dblite
/m4/**
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
autom4te.cache
Makefile.in
py-compile
.deps
.dirstamp
.libs
*.lo
libsubunit.la
libcppunit_subunit.la
libtool
stamp-h1
libsubunit.pc
libcppunit_subunit.pc
config.log
config.status
Makefile
config.h
debian/files
debian/libsubunit0
debian/libsubunit-dev
debian/subunit
debian/python-subunit
debian/*.log
debian/*.debhelper
debian/tmp
debian/*.substvars
/perl/blib
/perl/pm_to_blib
subunit-*.tar.gz
subunit-*.tar.gz.asc
perl/Makefile.PL
/.testrepository
__pycache__
perl/MYMETA.yml
/build/
/dist/
/*.egg-info/
*.pyc
*~
.*.swp
.*.swo
