name: Tests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  tests:
    name: tests-python${{ matrix.python-version }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11', 'pypy3.7']
        os: ['ubuntu-latest']
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Deps
        run: sudo apt-get install check libcppunit-dev
      - name: Install package
        run: python -m pip install -U '.[test,docs]'
      - name: Build
        run: autoreconf -fi && ./configure && make
      - name: Run make check
        run: make check
      - name: Run make distcheck
        run: make distcheck
      - name: Docs build
        run: rst2html.py README.rst README.html
