name: Tests
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  tests:
    name: tests-python${{ matrix.python-version }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14", "pypy3.10"]
        os: ["ubuntu-latest"]
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Deps
      run: sudo apt-get install check libcppunit-dev
    - name: Install package
      run: |
        python -m pip install ruff
        python -m pip install -U '.[test,docs]'
    - name: Build
      run: autoreconf -fi && ./configure && make
    - name: Run ruff check
      run: ruff check python
    - name: Format
      run: ruff format --check .
    - name: Run make check
      run: make check
    - name: Run make distcheck
      run: make distcheck
    # Disabled; needs a tuit or two
    #   - name: Docs build
    #     run: md2html.py README.md README.html
    #     if: "matrix.python-version == '3.8'"
    #   - name: Docs build
    #     run: md2html README.md README.html
    #     if: "matrix.python-version != '3.8'"
